.login-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mat-form-field {
    padding-bottom: 20px;
}

.first-time,
.back-to-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.back-to-home {
    padding-bottom: 70px;
}

.first-time > button,
.back-to-home > button {
    margin-left: 5px;
    font-size: 1.1em;
}
