<div class="login-title">
    <div class="mat-display-2">Log in</div>
</div>

<div id="login">
    <form id="login-form" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="errorMessage" class="error-server">{{errorMessage}}</mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [formControl]="email" required color="primary">
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary" class="mat-headline" type="submit"
            *ngIf="!this.loading.state; else elseBlock">
            <span>Log in</span>
        </button>

        <ng-template #elseBlock>
            <mat-progress-spinner class="button-spinner" [diameter]="60" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
        </ng-template>

        <button mat-stroked-button color="primary" class="mat-headline" type="button"
            routerLink="/home/reset-password">Forgot my
            password</button>
    </form>
</div>

<div class="first-time">Is that your first time ?
    <button mat-button color="accent" routerLink="/home/register">Register</button>
</div>

<div class="back-to-home">
    <button mat-button color="accent" routerLink="/home">Home</button>
</div>