<mat-card [class.task-disabled]="!task.isActivated" class="task-content">
  <mat-card-header class="task-header">
    <mat-card-title>{{task.name}}</mat-card-title>
    <mat-card-subtitle>{{task.start | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="task.repeatInterval > 0; else noRepeat">Repeat: Every {{task.repeatInterval}} day(s)</div>
    <ng-template #noRepeat>
      <div>Repeat: Never</div>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="isLoading" (click)="toggleTaskActivation(task)" class="first-action-card"
      [matTooltip]="task.isActivated ? 'Disable' : 'Enable'">
      <mat-icon class="dashboard-navlist-icon" *ngIf="!isLoading; else loadingBlock">
        {{task.isActivated ? "alarm_on" : "alarm_off"}}
      </mat-icon>
      <ng-template #loadingBlock>
        <mat-progress-spinner [diameter]="25" [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </ng-template>
    </button>
    <button mat-button (click)="displayInfoTask(task)" *ngIf="task.message">
      <mat-icon class="dashboard-navlist-icon">info</mat-icon>
    </button>
    <a mat-button routerLink="/dashboard/tasks/{{task.id}}/edit" matTooltip="Edit">
      <mat-icon class="dashboard-navlist-icon">edit</mat-icon>
    </a>
    <button mat-button (click)="deleteTaskWithAlert(task)" matTooltip="Delete">
      <mat-icon class="dashboard-navlist-icon">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>