<div class="register-title">
    <div class="mat-display-2">Register</div>
</div>

<div id="register">
    <form id="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email" required color="primary">
            <mat-error *ngIf="email?.hasError('email') &&
                !email?.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email?.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div formGroupName="newPassword">
            <mat-form-field appearance="fill">
                <mat-label>Enter a password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" (input)="onPasswordInput()">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="start">Password should be at least 8 characters long</mat-hint>
                <mat-error *ngIf="password?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hidePasswordConfirm ? 'password' : 'text'" formControlName="passwordConfirm" (input)="onPasswordInput()">
                <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm"
                    [attr.aria-label]="'Hide password confirmation'" [attr.aria-pressed]="hidePasswordConfirm">
                    <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordConfirm?.hasError('required')">
                    Password confirmation is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="newPassword?.hasError('passwordMismatch') &&
                !passwordConfirm?.hasError('required')">
                    Passwords does not match
                </mat-error>
            </mat-form-field>
        </div>


        <button mat-raised-button color="primary" class="mat-headline" type="submit" >Register</button>

    </form>
</div>

<div class="back-to-login">
    <button mat-button color="accent" routerLink="/home/login">Back to log in</button>
</div>

<div class="back-to-home">
    <button mat-button color="accent" routerLink="/home">Home</button>
</div>

<!-- 
    -- SETUP AVEC FORMBUILDER --
        
        Pour <form> :
            - [formGroup]="leFormGroup"

        Pour les groups dans un formGroup :
            - <div formGroupName="newPassword"> avant les <mat-form-field>

        Pour <input> :
            -Appel d'un formControl avec formControlName

        Pour <mat-error> : 
            -Chopper l'erreur d'un formControl avec registerForm.get('email')?.hasError('required')
            <mat-error *ngIf="outerForm.get('firstFormGroup.nserNumber').hasError('required')">
            
            OU
            
            mettre un setter dans le component.ts et l'appeler dans le *ngIf
-->