.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 60px;
    margin: 0px 20px 20px 20px;
    text-align: center;
}

.big-title {
    margin: 20px
}

.get-started {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-button {
    font-size: 1.5em;
    padding: 7px;
}

@media screen and (max-width: 450px) {
    .main-title {
        padding: 20px 0px 60px;
    }
}