.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 60px;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
}
