<div class="reset-password-title">
    <div class="mat-display-2">Reset my password</div>
</div>

<div id="reset-password">
    <form id="reset-form" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [formControl]="email" required color="primary">
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="mat-headline" type="submit" [disabled]="this.loading.state">
            <span *ngIf="!this.loading.state; else elseBlock">Reset my password</span>
            <ng-template #elseBlock>
                <mat-progress-spinner class="button-spinner" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
            </ng-template>
        </button>

        <div *ngIf="isSent">An email has been sent to {{ email }} to reset your password.</div>

    </form>
</div>


<div class="back-to-login">
    <button mat-button color="accent" routerLink="/home/login">Back to log in</button>
</div>
<div class="back-to-home">
    <button mat-button color="accent" routerLink="/home">Home</button>
</div>