<div id="dashboard" [@routeAnimations]="outlet.isActivated ? outlet.activatedRoute : ''">
    <div id="sidebar">
        <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav mode="side" opened class="example-sidenav" fixedInViewport fixedTopGap fixedBottomGap>
                Sidenav
            </mat-sidenav>

            <mat-sidenav-content>
                <router-outlet #outlet="outlet"></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>