#dashboard {
  min-height: 100vh;
}

#dashboard-page {
  min-height: 100vh;
  margin: 30px;
}

.dashboard-sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/triangles.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.dashboard-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  background: #222222a0;
}

.dashboard-title {
  text-align: center;
  padding: 50px 0px 50px 0px;
  margin: 5px;
  font-size: 2em;
  font-weight: bold;
}

.dashboard-navlist-icon {
  padding-right: 20px;
}

.dashboard-toolbar {
  position: fixed;
  z-index: 2;
  background: #222222a0;
  height: 70px;
  font-size: 1.6em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
