#dashboard {
  min-height: 100vh;
  margin-bottom: -60px;
}

.dashboard-sidenav-container {
  position: absolute;
  left: 0;
  right: 0;
}

.dashboard-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.dashboard-header {
  margin-bottom: 10px;
}

.dashboard-toolbar {
  position: fixed;
  z-index: 2;
}