<mat-card class="activity-content">
    <mat-card-header class="activity-header">
      <mat-card-title>{{activity.name}}</mat-card-title>
      <mat-card-subtitle>{{activity.duration}} minutes</mat-card-subtitle> <!-- TODO convert unit-->
    </mat-card-header>
    <mat-card-actions>
      <a mat-button routerLink="/dashboard/activity/{{activity.id}}/edit" matTooltip="Edit">
        <mat-icon class="dashboard-navlist-icon">edit</mat-icon>
      </a>
      <button mat-button  matTooltip="Delete">
        <mat-icon class="dashboard-navlist-icon">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>