<div class="main-title">
    <div class="mat-display-4">"What do I do ?!"</div>
    <div class="mat-h2">Because who needs to think for itself when an app can do it for ya!</div>
</div>

<div id="login">
    <form id="login-form">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [formControl]="email" required color="primary">
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="mat-headline">Log in</button>
        <button mat-stroked-button color="primary" class="mat-headline" routerLink="/register">Forgot my
            password</button>
    </form>
</div>

<div class="first-time">Is that your first time ?
    <button mat-button color="accent" routerLink="/register">Register</button>
</div>