<div class="dashboard-page-content">
  <h1 class="mat-display-3 big-title content-title">{{ isEdit ? "Edit Task" : "New Task"}}</h1>

  <div class="content-section">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="dashboard-form">

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required color="primary">
        <mat-error *ngIf="name?.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="start?.hasError('required')">
          Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repeat interval</mat-label>
        <input matInput formControlName="repeatInterval" required color="primary">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Activated</mat-label>
        <input matInput formControlName="isActivated" required color="primary">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput formControlName="message" required color="primary" type="text">
      </mat-form-field>

      <div class="buttons-form-row">
        <button mat-raised-button color="primary" class="mat-headline" type="submit"
          *ngIf="!isLoading; else loadingBlock">
          <span>Save</span>
        </button>

        <a mat-button color="accent" class="mat-headline" type="button" *ngIf="!isLoading" routerLink="/dashboard">
          <span>Cancel</span>
        </a>
      </div>

      <ng-template #loadingBlock>
        <mat-progress-spinner class="button-spinner" [diameter]="60" [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </ng-template>
    </form>
  </div>
</div>