@use "~@angular/material" as mat;

* {
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100%;
    background-color: #333;
    color: #f4f4f4;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 60px;
}