@use "~@angular/material" as mat;

html,
body {
    margin: 0;
    height: 100%;
    background-color: #333;
    color: #f4f4f4;
}

.button-spinner {
    margin: 20px auto;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(228, 228, 228);
}

.dashboard-page-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

::-webkit-scrollbar {
    display: none;
}

.content-title {
    text-align: center;
}

.content-small-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.content-list {
    display: flex;
}

.content-cards {
    width: 350px;
}