<div class="dashboard-page-content">
  <h1 class="mat-display-3 big-title content-title">Tasks</h1>

  <div class="content-section">
    <h2 class="mat-display-1 big-title content-small-title">My tasks</h2>

    <ul class="content-list" *ngIf="allUserTasks; else loadingBlock">
      <li *ngFor="let task of allUserTasks" class="task-card">
        <app-task-item [task]="task"></app-task-item>
      </li>

      <li class="task-card">
        <mat-card [class.task-disabled]="true" class="task-content">
          <mat-card-content>
            <button mat-button matTooltip="Create a new task" routerLink="/dashboard/tasks/new">
              <mat-icon class="dashboard-navlist-icon">add</mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>

    <ng-template #loadingBlock>
      <mat-progress-spinner class="button-spinner" [diameter]="60" [color]="'primary'" [mode]="'indeterminate'">
      </mat-progress-spinner>
    </ng-template>
  </div>

  <div class="content-section">
    <h2 class="mat-display-1 big-title content-small-title">Timeline</h2>
    <div>The timeline goes here</div>
  </div>

</div>