ul {
    list-style-type: none;
    padding: 0;
}

.content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task-card {
    margin: 30px;
    text-align: center;
}

.task-content {
    background-color: rgba(100, 100, 100, 0.479);
    width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.task-content:hover {
    background-color: rgba(131, 131, 131, 0.479);
}

.task-disabled {
    background-color: rgba(39, 39, 39, 0.322);
}

.task-disabled:hover {
    background-color: rgba(65, 65, 65, 0.322);
}