<div class="dashboard-page-content">
  <h1 class="mat-display-3 big-title content-title">Tasks</h1>

  <div class="content-section">
    <h2 class="mat-display-1 big-title content-small-title">My tasks</h2>

    <ul class="content-list" *ngIf="allUserTasks; else loadingBlock">
      <li *ngFor="let task of allUserTasks" class="task-card">
        <mat-card [class.task-disabled]="!task.isActivated" class="task-content">
          <mat-card-header class="task-header">
            <mat-card-title>{{task.name}}</mat-card-title>
            <mat-card-subtitle>{{task.start | date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="task.repeatInterval > 0; else noRepeat">Repeat: Every {{task.repeatInterval}} day(s)</div>
            <ng-template #noRepeat>
              <div>Repeat: Never</div>
            </ng-template>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="toggleTaskActivation(task)">
              <mat-icon class="dashboard-navlist-icon">
                {{task.isActivated ? "alarm_off" : "alarm_on"}}
              </mat-icon>
            </button>
            <a mat-button routerLink="/dashboard/tasks/${id}">
              <mat-icon class="dashboard-navlist-icon">edit</mat-icon>
            </a>
            <a mat-button routerLink="/dashboard/activities/${id}">
              <mat-icon class="dashboard-navlist-icon">delete</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>

    <ng-template #loadingBlock>
      <mat-progress-spinner class="button-spinner" [diameter]="60" [color]="'primary'" [mode]="'indeterminate'">
      </mat-progress-spinner>
    </ng-template>
  </div>

  <div class="content-section">
    <h2 class="mat-display-1 big-title content-small-title">Timeline</h2>
    <div>The timeline goes here</div>
  </div>

</div>