<div class="dashboard-page-content">
  <h1 class="mat-display-3 big-title content-title">Tasks</h1>

  <div class="content-section">
    <h2 class="mat-display-1 big-title content-small-title">My tasks</h2>

    <ul class="content-list" *ngIf="allUserTasks; else loadingBlock">
      <li *ngFor="let task of allUserTasks" class="task-card">
        <mat-card [class.task-disabled]="!task.isActivated" class="task-content">
          <mat-card-header>
            <mat-card-title>{{task.name}}</mat-card-title>
            <mat-card-subtitle>{{task.isActivated ? "Enabled" : "Disabled"}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li>- On: {{task.start | date}}</li>
              <li>- Repeat: Every {{task.repeatInterval}} day(s)</li>
              <ng-template #disabledBlock>
                <li>- Repeat: Never</li>
              </ng-template>
              <li>- Message: {{task.message}}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button routerLink="/dashboard/tasks/${id}">Edit</a>
            <a mat-button routerLink="/dashboard/activities/${id}">Delete</a>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>

    <ng-template #loadingBlock>
      <mat-progress-spinner class="button-spinner" [diameter]="60" [color]="'primary'" [mode]="'indeterminate'">
      </mat-progress-spinner>
    </ng-template>
  </div>

  <div class="content-section">
    <h2 class="mat-display-1 big-title content-small-title">Timeline</h2>
    <div>The timeline goes here</div>
  </div>

</div>